<div class="content-wrapper">
    <div class="content">
        <div class="grid">
            <div class="col-12 md:col-6">
                <div class="card p-fluid">
                    <div class="logo-center-wrapper">
                        <div class="logo-img"></div>
                    </div>
                    <h5>Login</h5>
                    <form [formGroup]="loginForm" (ngSubmit)="submit()">
                        <div class="field">
                            <label for="username">Username</label>
                            <input pInputText id="username" type="text" formControlName="username"/>
                        </div>
                        <div class="field">
                            <label for="password">Password</label>
                            <input pInputText id="password" type="password" formControlName="password"/>
                        </div>
                        <button type="submit" [disabled]="loginForm.invalid" class="main-button">
                            Log in
                        </button>
                    </form>
                    <div class="bottom-info">
                        New? <a routerLink="/register">Sign up and start playing BookBreeze</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
