<div class="content-wrapper">
    <!--[ngClass]="{'mat-app-background': darkTheme}"-->
    <div>
        <div class="content">
            <div class="logo-center-wrapper">
                <div class="logo-img"></div>
            </div>
            <h1>Project Timeline</h1>
            <div class="container">
                <div>
                    Task:
                    Develop a web application for an online bookstore using Angular and Primeng framework. Features include viewing a list of books, searching, displaying book details, and an admin panel. Implement user authentication, roles (regular user/admin), token-based authentication, login, and registration. Provide basic authorization. Create admin panel for CRUD operations on books. Utilize Angular Router for navigation and Nx for optimal solution. Submit on GitHub with clear instructions and evaluate based on best practices, UI, feature implementation, routing, state management, code quality, and unit testing.
                </div>
                <div>
                    Side notes:
                    I didn't want to mock the backend, so i tried to implement it as well.
                </div>
                <div class="day-section">
                    <h4>Day 1: 25.1.2024. - Thursday </h4>
                    <div class="task-list">
                        <div class="task">Set up the basic projects, Nx,  Angular frontend, and NestJs backend.</div>
                        <div class="task">Create Git Repo /bookstore-app-frontend, create and connect ssh key, init first commit. </div>
                        <div class="task">Create Git Repo /bookstore-app-backend, init first commit. </div>
                        <div class="task">Init Authentication frontend logic: Login Component, Registration, Token-Interceptor, Guard</div>
                        <div class="task">Init task specific components: Admin Panel,  </div>
                        <div class="task">Install and add bootstrap, </div>
                        <div class="task">Create Build-Log component, log progress</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>