/* Define the sidebar */

.navbar-toggler {
  padding: 4px;
  margin-left: 10px;
  margin-right: 10px;
}

.logo-wrapper {
  font-family: 'BowlbyOneSC', sans-serif;
  font-size: 1.1rem;
  text-align: center;
}

.user-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.user-image {
  height: 70px;
  width: 70px;
  background-size: contain;
  border-radius: 50%;
}

.sidebar-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.sidenav-container {
  height: 100%;
}

.mat-sidenav {
  width: 200px; /* Adjust the width as needed */
}

.sidenav-content {
  padding: 40px;
}

.theme-btn-selector {
  pointer-events: none;
}

.active {
  background-color: rgba(0, 0, 0, 0.1); /* Highlight active link background */
}