
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    height: 8px;
    font-size: xx-small;
    width: 100%;

}

mat-toolbar {
    height: 40px; /* Adjust the height as per your requirement */
    min-height: 40px; /* Ensure min-height matches height for consistency */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    align-items: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}