<div class="content-wrapper">
    <mat-card class="content" [ngClass]="{'mat-app-background': darkTheme}">
        <div class="logo-center-wrapper">
            <div class="logo-img"></div>
        </div>
        <h2 mat-card-title>Book Verse</h2>
        <p>

            Welcome to BookVerse - Where Stories Come to Life!

            Explore our curated collection of books spanning genres, languages, and cultures. From bestsellers to hidden gems, find your next literary adventure with ease. Happy reading!
        </p>
        <div class="options-wrapper d-flex justify-content-around align-items-center flex-column">
            <div *ngIf="!loggedIn">
                <button class="w-100 pvp" mat-raised-button color="primary" routerLink="/register">
                    Register
                </button>
            </div>
        </div>
    </mat-card>
</div>