@use '@angular/material' as mat;

html {
  background-color: #1a1d20;
  color: white;
  min-width: 340px;
  height: 100%;
}

body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.logo {
  font-family: 'KnightWarriorFont', sans-serif;
}

.logo-center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 50px;
  height: 50px;
  background-image: url('assets/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.progress-container {
  position: relative;
  display: inline-block; /* To keep the container size based on content */
  width: 64px; /* Set a fixed width for the container */
  height: 64px; /* Set a fixed height for the container */
}

.content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  min-width: 300px;
  min-height: 700px;
}

.content {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
}

.countdown-number {
  position: absolute;
  top: 50%; /* Move the top of the text to the middle */
  left: 50%; /* Move the left of the text to the middle */
  transform: translate(-50%, -50%); /* Center the text properly */
  font-size: 1.5rem; /* Set the font size as needed */
}

html, body,bookstore-app-frontend-root { height: 100%; width: 100% }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
